<form method="POST" action="/songs">

    <label for="Name">Name</label> <input type="text" name="Name" id="Name"><br>
    <label>Artist Name</label> <input type="text" name="artist_name"><br>
  



</form>